<!DOCTYPE html>
<html>
<head>
    <title>Edit user</title>
    <style>

        .wrapper {
            text-align: center;
        }

        .submit-btn {
            margin: 15px 0;
        }

    </style>
</head>
<body>

    <div class="wrapper">
        <h2>Add new user</h2>
        <form action="/put-user-CRUD" method="POST">
            <input 
                type="text" 
                name="userID"
                value="<%= userData.userID %>"
                hidden
            ><br>

            <label for="fullName">FullName:</label><br>
            <input 
                type="text" 
                name="fullName"
                value="<%= userData.fullName %>"
            ><br>

            <label for="birthDay">Birthday</label><br>
            <input 
                type="text" 
                name="birthDay"
                value="<%= userData.birthDay %>"
            ><br>

            <label for="address">Address:</label><br>
            <input 
                type="text" 
                name="address"
                value="<%= userData.address %>"
            ><br>

            <label for="email">Email:</label><br>
            <input 
                type="text" 
                name="email"
                value="<%= userData.email %>"
            ><br>

            <label for="phone">Phone:</label><br>
            <input 
                type="text" 
                name="phone"
                value="<%= userData.phone %>"
            ><br>

            <label for="typeRole">Type role:</label><br>
            <input 
                type="text" 
                name="typeRole"
                value="<%= userData.typeRole %>"
            ><br>

            <input class="submit-btn" type="submit">
        </form>
    </div> 

</body>
</html>